.sidebar{
    background-image: linear-gradient(40deg, red,tomato);
    position: fixed;
}
.sidebar li{
    list-style: none;
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    
}
.sidebar svg{
    margin-right: 5px;
}
.sidebar li a{
    text-decoration: none;
}